body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

nav {
	background-color: #eee;
	padding: 10px;
	text-align: center;
}

table {
	width: 80%;
	border-collapse: collapse;
}

th, td {
	padding: 12px;
	border: 1px solid #ddd;
	text-align: left;
}

th {
	background-color: #333;
	color: #fff;
}

.checkbox-column {
	text-align: center;
}

.edit-delete-column {
	text-align: center;
}

.edit-icon, .delete-icon {
	cursor: pointer;
	margin-right: 5px;
}
.form-group a {
	text-align: center;
	color: #555;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	font-size: 14px;
}
.form-group button {
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}
.login-container {
	max-width: 600px;
	margin: auto;
	margin-top: 100px;
	padding: 20px;
	border: 1px solid #dee2e6;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}

.login-form label {
	text-align: right;
	margin-bottom: 0;
}

.login-form input {
	margin-bottom: 10px;
}

.login-form button {
	margin-top: 10px;
}

#btnGroup {
	padding-left:150px;
	padding-top: 10px;
}
.bs-linebreak {
	height:10px;
	background: black;
	margin: 5px;
}
.bs-linebreak-sm {
	height:1px;
	background: black;
	margin: 5px;
}
#dragSection {
	border: 1px dotted;
	height:100px;
}
.card-inverse-info {
    background: rgba(61, 165, 244, 0.2);
    border: 1px solid #3898e0;
    color: #2e7db9;
}

.context-menu-list {
    box-shadow: none;
    border: 1px solid #f3f3f3;
}

.context-menu-list {
    position: absolute;
    display: inline-block;
    min-width: 13em;
    max-width: 26em;
    padding: .25em 0;
    margin: .3em;
    font-family: inherit;
    font-size: inherit;
    list-style-type: none;
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: .2em;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.context-menu-item {
    position: relative;
    padding: 0.5em 6em;
    color: #2f2f2f;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff; 
}

.context-menu-list .context-menu-item.context-menu-hover {
    
    background-color: black;
    color:#fff;
}

.context-menu-separator {
    padding: 0;
    margin: .35em 0;
    border-bottom: 1px solid #e6e6e6;
}